.listingAddType {
  margin-bottom: 80px;
}

.locationInputs textarea,
.locationInputs select,
.locationInputs input {
  border: 1px solid #808a93;
  border-radius: 6px;
  height: 42px;
  outline: none;
  width: 100%;
}

.descriptionInput {
  width: 100%;
}

.descriptionInput .inputContainers {
  width: 100%;
}

.detailsInputs {
  margin: 80px 0;
}

.typeInputs {
  display: flex;
  align-items: center;
  column-gap: 84px;
}

.typeInputs label {
  font-family: firago;
  font-size: 14px;
  color: #021526;
}

.selectorContainer,
.formInputs {
  display: flex;
  column-gap: 20px;
  margin-top: 20px;
  justify-content: space-between;
}

.inputContainers {
  width: 384px;
}

.inputContainers label {
  display: flex;
  flex-direction: column;
}

.locationInputs label span,
.formInputs label span {
  font-family: firagoMedium;
  font-size: 14px;
  color: #021526;
  margin-bottom: 5px;
}

.formInputs label {
  font-family: firagoMedium;
  font-size: 14px;
  color: #021526;
  margin-bottom: 5px;
}

.formInputs input::-webkit-outer-spin-button,
.formInputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formInputs input[type="number"] {
  -moz-appearance: textfield;
}

.errorBtn input {
  border: 1px solid #f93b1d;
}
.tipText {
  font-family: firago;
  font-size: 12px;
  text-wrap: nowrap;
}

.error {
  font-family: firago !important;
  font-size: 12px !important;
  text-wrap: nowrap !important;
  color: #f93b1d !important;
}

.successValidate {
  color: #45a849;
}

.imageUploadInput {
  width: 100%;
  position: relative;
}

.imageUploadInput .inputContainers {
  width: 100%;
}

.hiddenInput {
  display: none;
}

.customFileUpload {
  display: inline-block;
  border: 1px dashed #2d3648;
  width: 100%;
  height: 120px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.imagePreviewContainer {
  width: 92px;
  height: 82px;
  position: absolute;
  z-index: 2222;
  left: calc(50% - 41px);
  top: calc(120px - 82px);
}

.imagePreviewContainer img {
  width: 100%;
  height: 100%;
}

.imagePreviewContainer button {
  position: absolute;
  right: -10px;
  bottom: -10px;
  border-radius: 150px;
  background-color: transparent;
  cursor: pointer;
  z-index: 2222222;
}
