.filterItems {
  margin-top: 16px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.filterItem {
  padding: 6px 10px;
  display: flex;
  border: 1px solid rgba(219, 219, 219, 1);
  border-radius: 43px;
  column-gap: 7.5px;
  width: max-content;
}
.filterItem p {
  font-family: firago;
  color: rgba(2, 21, 38, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
}

.closeSvg {
  cursor: pointer;
}

.clearBtn {
  background-color: transparent;
  font-family: firago;
  font-size: 14px;
  line-height: 16.8px;
  color: rgba(2, 21, 38, 1);
  font-weight: 600;
  cursor: pointer;
}
